<div
  class="im-appointment-overview"
  *ngIf="currentDate$ | async as currentDate"
>
  <im-month-calendar
    [currentDate]="currentDate"
    [calendarWeeks]="calendarWeeks"
    [appointments]="(appointments$ | async) ?? []"
    (changeDate)="setCurrentDate($event)"
    (prevMonth)="prevMonth()"
    (nextMonth)="nextMonth()"
  ></im-month-calendar>
  <im-week-calendar
    [currentDate]="currentDate"
    [currentWeek]="currentWeek"
    [appointments]="(appointments$ | async) ?? []"
    (changeDate)="setCurrentDate($event)"
    (prevWeek)="prevWeek()"
    (nextWeek)="nextWeek()"
  ></im-week-calendar>
</div>
