$cell-width: 40px;
$cell-height: 35px;

.im-month-calendar {
  width: min-content;

  &__grid {
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    background: var(--color-bg);
    padding: 12px;
    border-radius: 6px;
  }

  &__week-header,
  &__week {
    display: flex;
  }

  &__week-header {
    margin-bottom: 6px;
  }

  &__header-item {
    width: $cell-width;
    height: $cell-height;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__day {
    width: $cell-width;
    height: $cell-height;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;

    &.-week {
      background: var(--color-accent-subtle);

      &.-day {
        background: var(--color-accent);
        color: white;

        &::after {
          background: white;
        }
      }
    }

    &.-appointment {
      &::after {
        content: "";
        position: absolute;
        bottom: 2px;
        left: 50%;
        transform: translateX(-50%);
        width: 5px;
        height: 5px;
        background: var(--color-accent);
        border-radius: 50%;
      }
    }
  }

  &__title {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: 0;
  }

  &__title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--color-bg);
    margin-bottom: 4px;
    padding-left: 12px;
  }
}
