/* You can add global styles to this file, and also import other style files */

:root {
  --color-text: #3d3d3d;
  --color-text-secondary: #9c9c9c;
  --color-bg: #fff;
  --color-bg-secondary: hsl(180, 50%, 93%);
  --color-accent: rgb(47, 156, 245);
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--color-text);
  background: var(--color-bg-secondary);
}

//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
