/* You can add global styles to this file, and also import other style files */

:root {
  --text-color: #3d3d3d;
  --text-color-secondary: #9c9c9c;
  --bg-color: #fff;
  --bg-color-secondary: hsl(180, 50%, 93%);
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  color: var(--text-color);
  background: var(--bg-color-secondary);
}

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
